<ul id="comment_list">
		<% @comments.each do |comment| %>
			<li <% if @comments.first == comment %>class="first"<% end %>>
			<% if comment.user.avatar.file? %>
				<%= image_tag comment.user.avatar.url, size: 30 %>
			<% else %>
				<img src="assets/nopic.png">
			<% end %>
			<div class="comment_message_container">
					<%= link_to comment.user.name, comment.user %>
					<%= h comment.content %>
				<div class="time_ago">
					<%= time_ago_in_words comment.created_at %> ago
						<% if comment.user == current_user || current_user.try(:super?) %>
							<div class="button">
								<%= link_to "Delete", [comment.legacy, comment], method: :delete %> |
								<%= link_to "Edit", edit_legacy_comment_path(comment.legacy, comment) %>
							</div>
						<% end %>
				</div>
			</div>
		
		</li>
	<% end %>
	<% if current_user %>
		<br />
		<%= render 'comments/form' %>
	<% end %>
</ul><div class="clear"></div>
<br />