<title>Contact Us</title>

<%= simple_form_for(@assist_message) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% if logged_in? %>
      <%= f.label :email %><br />
      <%= f.text_field :email, :value => current_user.email  %><br /><br />
    <% else %>
      <%= f.input :email %>
    <% end %>
    <%= f.text_area :subject %>
    <%= f.label :content %>
    <%= f.text_area :content %><br />
    <% if current_user.try(:admin?) %>
      <%= f.text_area :solution %><br>
      <%= f.check_box :completed %>
      <span>I have reviewed and solved this issue.</span>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.submit "Send Message" %>
  </div>
<% end %>
