
<!DOCTYPE html>
<html>
<head>
	<title>Edit Profile</title>
</head>
<body>
<div class="content_body">
	<h1>Update your profile</h1>
	<%= simple_form_for(@user) do |f| %>
		<%= render 'shared/error_messages' %>
		<%= f.input :name %>
		<%= f.input :email %>
		<%= f.input :password %>
		<%= f.input :password_confirmation %>
		<%= image_tag @user.avatar.url %>
		<%= f.input :avatar, as: :file %>
		<% if current_user.try(:super?) %>
			<table>
				<td><%= f.input :admin %></td>
				<td><%= f.input :super %></td>			
			</table>
			<%= f.input :legacy_count %>
		<% end %>
		<%= f.submit %>
	<% end %>
</div><div class="clear"></div>
</body>
</html>
