
<!DOCTYPE html>
<html>
<head>
	<title>Edit Profile</title>
</head>
<body>
<div class="content_body">
	<h1>Update your profile</h1>
	<%= simple_form_for(@user) do |f| %>
		<%= render 'shared/error_messages' %>
		<%= f.input :name %>
		<%= f.input :email %>
		<%= f.input :password %>
		<%= f.input :password_confirmation %>
		<%= image_tag @user.avatar.url %>
		<%= f.input :avatar, as: :file %>
		<% if current_user.try(:super?) %>
			<%= f.input :admin %>
			<%= f.input :moderator %>
			<%= f.input :moderator2 %>
			<%= f.input :moderator3 %>
			<%= f.input :moderator5 %>
			<%= f.input :moderator10 %>
			<%= f.input :super %>
		<% end %>
		<%= f.submit %>
	<% end %>
</div>
</body>
</html>
