
<title>
<% if current_user == @user %>
	My Profile
<% else %>
	<%= @user.name %>'s Profile
<% end %>
</title>

<div class="left_column">
	<%= image_tag @user.avatar.url, size: "180x200" %>
</div>
<div class="memories">
	<% if current_user == @user %>
		<%= form_tag charges_path do %>
		  <article>
		    <% if flash[:error].present? %>
		      <div id="error_explanation">
		        <p><%= flash[:error] %></p>
		      </div>
		    <% end %>
		    <label class="amount">
		    	<% if current_user.legacy_count.nil? %>
		    		<span>
		    			<strong>You do not have any legacy pages yet.</strong> To purchase a legacy page, it is $89.99 and you just have to click the "Pay with card" button below.
		    		</span>

		    	<% else %>
		    		<span>
		    		<strong>You currently have <%= current_user.legacy_count %> Legacy pages.</strong> To purchase another legacy, just click the "Pay with card" button.</span>
		    	<% end %>
		    </label>
		  </article>

		  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
		          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
		          data-description="Add Legacy to account"
		          data-amount="8999"
		          data-locale="auto"></script>
		<% end %>
	<% end %>
</div>
<div class="content_body">
	<h1>My Legacies</h1>
	<table>
	  <thead>
	    <tr>
	      <th>Photo</th>
	      <th>Name</th>
	      <th>Born on</th>
	      <th>Passed on</th>
	      <th>State</th>
	      <th>About</th>
	      <th colspan="3"></th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @user.legacies.each do |legacy| %>
	      <tr>
	        <% if legacy.photo.present? %>
	          <td><%= link_to image_tag(legacy.photo.url, size: "40x40"), legacy %></td>
	        <% else %>
	          <td><a href="/legacies/<%= legacy.id %>"><img src="../assets/nopic.png" height="40" width="40"></td>
	        <% end %>

	        <td><%= legacy.name %></td>
	        <td><%= legacy.born_on.strftime("%m-%d-%Y") %></td>
	        <% unless legacy.passed_on == nil %>
	            <td><%= legacy.passed_on.strftime("%m-%d-%Y") %></td>
	        <% else %>
	            <td>Still Alive</td>
	        <% end %>
	        <td><%= legacy.state %></td>
	        <td><%= legacy.about.truncate(50) %></td>
	        <% if current_user.try(:admin) %>
	          <td><%= link_to 'Show', legacy %></td>
	          <td><%= link_to 'Edit', edit_legacy_path(legacy) %></td>
	          <td><%= link_to 'Destroy', legacy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	        <% end %>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
	<% if current_user.try(:super?) %>
		<%= link_to 'Edit', edit_user_path(@user) %>
	<% end %>
	<%= link_to 'Back', :back %>
</div>
<div class="clear"></div>

