<!DOCTYPE html>
<html>
<head>
	<title><%= @user.name %>'s profile</title>
</head>
<body>
<div class="left_column">
	<p><%= image_tag @user.avatar.url, size: "180x200>" %></p>
</div>
<div class="content_body">
	<p><%= @user.name %></p>
	<p><%= @user.email %></p>
	<p><%= @user.created_at %></p>
	<p><%= Time.now %></p>

	<% if current_user %>
		<%= current_user.name %> is the current_user... muahaha	
	<% end %>

	<%= link_to 'Back', :back %>
</div>
</body>
</html>
