
<title>
<% if current_user == @user %>
	My Profile
<% else %>
	<%= @user.name %>'s Profile
<% end %>
</title>

<div class="left_column">
	<%= image_tag @user.avatar.url, size: "180x200" %>
</div>
<div class="memories">
	<% if current_user == @user %>
		<%= form_tag charges_path do %>
		  <article>
		    <% if flash[:error].present? %>
		      <div id="error_explanation">
		        <p><%= flash[:error] %></p>
		      </div>
		    <% end %>
		    <label class="amount">
		    	<% if current_user.legacy_count.nil? %>
		    		<span>
		    			<strong>You do not have any legacy pages yet.</strong> To purchase a legacy page (<strong><%= @sale_price %></strong>), you just have to click the "Pay with card" button below.
		    		</span>

		    	<% else %>
		    		<span>
		    		<strong>You currently have <%= current_user.legacy_count %> Legacy page(s).</strong> To purchase another legacy, just click the "Pay with card" button.</span>
		    	<% end %>
		    </label>
		  </article>

		  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
		          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
		          data-description="Add Legacy to account"
		          data-amount="1800"
		          data-locale="auto"></script>
		<% end %>
	<% end %>
</div>
<div class="content_body">
	<% if current_user == @user  %>
		<h1>My Legacies</h1>
		<p>You currently have <%= pluralize(current_user.legacies.count, "legacy") %>. 
			<% unless @user.legacies.count.nil? || @user.legacy_count.nil? %>
			You currently have <%= pluralize(current_user.legacy_count - current_user.legacies.count, "legacy") %> available to use.
			<% end %>
		</p> 
		<% unless @user.legacies.count.nil? || @user.legacy_count.nil? %>
			<% if current_user.legacy_count - current_user.legacies.count >= 1 %>
		<% end %>
			<p>You can click the "New Legacy" link below to create a new legacy.</p> 
			<p><%= link_to 'New Legacy', new_legacy_path %></p>
		<% else %><p>You can purchase a new legacy to create one: <%= @legacy_price %>, but you can get it for the sale price now, which is 80% off the regular price, <strong><%= @sale_price %></strong> now by selecting the button to the right, "Pay with card".</p>
		<% end %>

		<table>
		  <thead>
		    <tr>
		      <th>Photo</th>
		      <th>Name</th>
		      <th>State</th>
		      <th>About</th>
		      <th colspan="3"></th>
		    </tr>
		  </thead>

		  <tbody>
		    <% @user.legacies.each do |legacy| %>
		      <tr>
		        <% if legacy.photo.present? %>
		          <td><%= link_to image_tag(legacy.photo.url, size: "40x40"), legacy %></td>
		        <% else %>
		          <td><a href="/legacies/<%= legacy.id %>"><img src="../assets/nopic.png" height="40" width="40"></td>
		        <% end %>

		        <td style="width: 120px;"><%= legacy.name %></td>
		        <td><%= legacy.state %></td>
		        <td><%= legacy.about.truncate(50) %></td>
		        <% if current_user.try(:admin) %>
		          <td><%= link_to 'Show', legacy %></td>
		          <td><%= link_to 'Edit', edit_legacy_path(legacy) %></td>
		          <td><%= link_to 'Destroy', legacy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		        <% end %>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
	<% else %>
		<h1>My Legacies</h1>
		<table>
		  <thead>
		    <tr>
		      <th>Photo</th>
		      <th>Name</th>
		      <th>State</th>
		      <th>About</th>
		      <th colspan="3"></th>
		    </tr>
		  </thead>

		  <tbody>
		    <% @user.legacies.each do |legacy| %>
		      <tr>
		        <% if legacy.photo.present? %>
		          <td><%= link_to image_tag(legacy.photo.url, size: "40x40"), legacy %></td>
		        <% else %>
		          <td><a href="/legacies/<%= legacy.id %>"><img src="../assets/nopic.png" height="40" width="40"></td>
		        <% end %>

		        <td style="width: 120px;"><%= legacy.name %></td>
		        <td><%= legacy.state %></td>
		        <td><%= legacy.about.truncate(50) %></td>
		        <% if current_user.try(:admin) %>
		          <td><%= link_to 'Show', legacy %></td>
		          <td><%= link_to 'Edit', edit_legacy_path(legacy) %></td>
		          <td><%= link_to 'Destroy', legacy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		        <% end %>
		      </tr>
		    <% end %>
		  </tbody>
		</table>
	<% end %>
	<% if current_user.try(:super?) %>
		<%= link_to 'Edit', edit_user_path(@user) %>
	<% end %>
	<%= link_to 'Back', :back %>
</div>
<div class="clear"></div>