    <%= simple_form_for(@legacy) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :name %>
        <%= f.input :photo, as: :file %>
        <%= f.input :born_on, as: :date, start_year: 1900, end_year: Date.today.year, order: [:month, :day, :year] %>
        <%= f.input :passed_on, as: :date, start_year: 1900, end_year: Date.today.year, order: [:month, :day, :year] %>
        <%= f.input("country", only: ["AG", "AU", "BS", "BZ", "CA", "DM", "GD", "GY", "IE", "JM", "NZ", "KN", "LC", "VC", "TT", "GB", "US"]) %>
        <%= f.input :state, city_states %>
        <%= f.input :county %>
        <%= f.input :city %>
        <%= f.input :about %>
      </div>

      <div class="form-actions">
        <%= f.button :submit %>
      </div>
    <% end %>


