<head><%= render 'qrcode' %>
  <title><%= @legacy.name %>'s Legacy</title>
</head>
    <div class="left_column">
      <% if @legacy.photo.present? %>
        <%= image_tag @legacy.photo.url, size: "180x200" %><br />
      <% else %>
        <img src="../assets/nopic.png" height="200" width="180">
      <% end %>
      <strong><%= @legacy.name %></strong><br />
      Age: <%= @age %><br />
      Born on:<br /><%= @legacy.born_on.strftime("%a, %b %d, %Y") %><br />
      <% if @legacy.passed_on.present? %>
        Passed on:<br /><%= @legacy.passed_on.strftime("%a, %b %d, %Y") %><br />
      <% end %>
      State: <%= @legacy.state %><br />
      <div id="qrcode" style="width:100px; height:100px; margin-top:15px;"></div>
    </div>
    <%= render 'memories' %>
    <div class="content_body">
      <% unless !@legacy.about.present? %>
          <strong>Who <%= @legacy.name %> was:</strong>
          <p><%= @legacy.about %></p> 
      <% end %>
      <% if current_user.try(:admin?) %>
          <%= link_to 'Edit', edit_legacy_path(@legacy) %> |
          
      <% end %>
      <%= link_to 'Back', legacies_path %>
    </div>
    <div class="clear"></div>

<script type="text/javascript">
  var qrcode = new QRCode(document.getElementById("qrcode"), {
    width : 100,
    height : 100
  });
  function makeCode () {    
    
    qrcode.makeCode(window.location.href);
  }
  makeCode();
  $("#text").
    on("blur", function () {
      makeCode();
    }).
    on("keydown", function (e) {
      if (e.keyCode == 13) {
        makeCode();
      }
    });
</script>