<div class="left_column">
	<%= simple_form_for(@memory) do |f| %>
	  <%= f.error_notification %>

	  <div class="form-inputs">
	  	<%= f.input :photo, as: :file %>
	    <%= f.number_field :legacy_id, :value => @legacy_id, :hidden => true  %>
	  </div>

	  <div class="form-actions">
	    <%= f.button :submit %>
	  </div>
	<% end %>	
</div>
<div class="content_body2">
    <% if current_user == @legacy.user || current_user.try(:admin?) %>
	    <% if @legacy.memories.present? %>
	    <h2>Current Memories</h2>
	      <% @legacy.memories.each do |memory| %>
	        <td><%= image_tag memory.photo.url, width: "200" %></td>
	      <% end %>
	    <% else %>
	        Currently your legacy has no memories.
	    <% end %>
	<% else %>
		You cannot access this legacies memories.
    <% end %>

</div>
<div class="clear"></div>

