<head>  
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-5747721026724829",
      enable_page_level_ads: true
    });
  </script>
</head>
<div class="content_body">
  <h1>Memories</h1>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>What happened</th>
        <th>Legacy</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @memories.each do |memory| %>
        <tr>
          <td><%= memory.title %></td>
          <td><%= memory.what_happened %></td>
          <td><%= memory.legacy_id %></td>
          <td><%= link_to 'Show', memory %></td>
          <td><%= link_to 'Edit', edit_memory_path(memory) %></td>
          <td><%= link_to 'Destroy', memory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div><div class="clear"></div>



