<div class="container_top">
    <div id="search">
      <%= form_tag(legacies_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search Legacies", :size => 10 %>
          <%= submit_tag "Search", :name => nil %>
      <% end %>      
    </div>
  <ul>
    <% if current_user.try(:legacy_count) || current_user.try(:super?) %>
      <li style="text-decoration: underline; color: green"><%= link_to "Legacy", new_legacy_path %></li>
    <% end %>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Legacies", legacies_path %></li>
    <% if logged_in? %>
      <li><%= link_to "Users", users_index_path %></li>
      <li><%= link_to "Profile", current_user %></li>
      <li><%= link_to "Settings", edit_user_path(current_user) %></li>
      <li><%= link_to "Log out", logout_path %></li>
    <% else %>
      <li><%= link_to "Log in", login_path %></li>
      <li><%= link_to "Sign Up", signup_path %></li>
    <% end %>
  </ul>
    
  <div class="clear"></div>
  <div class="title">
    <h1>Legacy Files</h1>
  </div>
</div>
<div class="white_space"> 
</div>