<div class="container_top">
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Legacies", legacies_path %></li>
    <% if logged_in? %>
      <li><%= link_to "Log out", logout_path %></li>
      <li><%= link_to "Profile", current_user %></li>
      <li><%= link_to "Settings", edit_user_path(current_user) %></li>
    <% else %>
      <li><%= link_to "Log in", login_path %></li>
      <li><%= link_to "Sign Up", signup_path %></li>
    <% end %>
  </ul>
  <br />
  <div id="search">
    <%= form_tag(legacies_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Legacies", :size => 10 %>
        <%= submit_tag "Search", :name => nil %>
    <% end %>      
  </div><div class="clear"></div>
</div><div class="white_space"></div>