<div class="container_top">
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <% if logged_in? %>
      <li style="float: left;"><%= link_to "Log out", logout_path %></li>
      <li style="float: left;"><%= link_to "Settings", edit_user_path(current_user) %></li>
      <li style="float: left;"><%= link_to "Profile", current_user %></li>
      <% if current_user.try(:admin?) && @helps.present? %>
        <li><%= link_to "Help(#{@helps_count})", assist_messages_path %></li>
      <% else %>
        <% if @unread.present? %>
          <li style="color: red;"><%= link_to "Ticket(#{@unread.count})", assist_messages_path %></li>
        <% end %>
      <% end %>
    <% else %>
      <li style="float: left;"><%= link_to "Sign Up", signup_path %></li>
      <li style="float: left;"><%= link_to "Log in", login_path %></li>
    <% end %>
    <div class="title"><h1>My Legacy Files</h1></div>
  </ul>
<div class="clear"></div>
</div><div class="white_space"></div>