<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
  </head>
<body>
	<%= render 'layouts/header' %>
	<div class="container_body">
    <% if current_user %>
      <li><%= link_to "Users", users_index_path %></li>
      <li><%= link_to "Profile", current_user %></li>
      <li><%= link_to "Settings", edit_user_path(current_user) %></li>
      <% if current_user.try(:legacy_count) || current_user.try(:super?) %>
        <li style="text-decoration: underline; color: green"><%= link_to "Legacy", new_legacy_path %></li>
      <% end %>
    <% end %>
    <div class="clear"></div>
    <%= notice %>
    <%= alert %> 
		<%= yield %>
	</div>
  <div class="clear"></div>
</body>
</html>