<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<body>
	<%= render 'layouts/header' %>
	<div class="container_body"> 
    <div class="search">
      <%= form_tag(legacies_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search Legacies", :size => 10 %>
          <%= submit_tag "Search", :name => nil %>
      <% end %>      
    </div>

    <%= notice %>
    <%= alert %> 
		<%= yield %>
	</div>
  <div class="clear"></div>
</body>
</html>